{% extends "basic_layout.html" %}

{% block header %}
<header id="header">
    <a href="index.html" class="title">P&P Inc.</a>
    <nav>
        <ul>
            <li><a href="index.html">URL Analyzer</a></li>
            <li><a href="">Classifications</a></li>
            <li><a href="about.html" class="active">About The Model</a></li>
        </ul>
    </nav>
</header>
{% endblock header %}

{% block content %}

<!-- Main -->
<section id="main" class="wrapper fade-up">
    <div class="inner"> 
        <h1 class="major">About The Model</h1>
    </div>
</section>

{% endblock content %}